net: "${caffe_train_model}"
test_iter: 67
test_interval: 100
base_lr: 0.01
display: 50
max_iter: 20000
lr_policy: "step"
gamma: 0.96
momentum: 0.9
weight_decay: 0.0002
stepsize: 3000
snapshot: 1000
snapshot_prefix: "${snapshot_prefix}"
solver_mode: ${solver_mode}