<html>
<body onload="updateImage();">
<img id="img" src="/curve"/>
<div style="height: 50px; width: 100%"></div>
<a href="/result.csv" target="_blank">download test csv result</a>
<a href="/data/result.zip" target="_blank">download data zip result</a>
<img src="/model"/>
<script>
    function testImage(url, callback, timeout) {
        timeout = timeout || 5000;
        var timedOut = false, timer;
        var img = new Image();
        img.onerror = img.onabort = function() {
            if (!timedOut) {
                clearTimeout(timer);
                callback(url, "error");
            }
        };
        img.onload = function() {
            if (!timedOut) {
                clearTimeout(timer);
                callback(url, "success");
            }
        };
        img.src = url;
        timer = setTimeout(function() {
            timedOut = true;
            // reset .src to invalid URL so it stops previous
            // loading, but doesn't trigger new load
            img.src = "//!!!!/test.jpg";
            callback(url, "timeout");
        }, timeout);
    }
    function refresh(node)
{
   var times = 3000; // gap in Milli Seconds;

   (function startRefresh()
   {
      var address;
      if(node.src.indexOf('?')>-1)
       address = node.src.split('?')[0];
      else
       address = node.src;
      testImage(address+"?time="+new Date().getTime(), function() {
        node.src = address+"?time="+new Date().getTime();
      });

      setTimeout(startRefresh,times);
   })();

}

window.onload = function()
{
  var node = document.getElementById('img');
  refresh(node);
  // you can refresh as many images you want just repeat above steps
}
</script>
</body>
</html>