<html>
<body onload="updateImage();">
<img id="img" src="/curve"/>
<div style="height: 50px; width: 100%"></div>
<a href="/result.csv" target="_blank">download test csv result</a>
<a href="/data/result.zip" target="_blank">download data zip result</a>
<a href="/model" target="_blank">download model graph</a>
<script>
    function refresh(node)
{
   var times = 3000; // gap in Milli Seconds;

   (function startRefresh()
   {
      var address;
      if(node.src.indexOf('?')>-1)
       address = node.src.split('?')[0];
      else
       address = node.src;
      node.src = address+"?time="+new Date().getTime();

      setTimeout(startRefresh,times);
   })();

}

window.onload = function()
{
  var node = document.getElementById('img');
  refresh(node);
  // you can refresh as many images you want just repeat above steps
}
</script>
</body>
</html>